@import url('http://fonts.googleapis.com/css?family=Creepster');

body {
  background: black;
}

h1 {
  color: white;
  font-family: 'Creepster';
}

#game {
  border: 0px solid black;
  border-radius: 10px;
  background: url("bg.png");
  box-shadow: 0px 0px 100px 0px black;
}
